@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  box-sizing: border-box;
  font-family: pretendard;
}
body {
  margin: 0;
  height: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.bold {
  font-weight: bold;
}

.btn--font {
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
  line-height: 119%;
  color: #195a00;
}

.hover--text:hover {
  color: #195a00;
  cursor: pointer;
  font-weight: bold;
}

.color--green {
  color: #195a00;
}

.gray--font {
  color: #707070;
  font-size: 1.5rem;
}

.light-gray-font {
  color: #bababa;
}

.normal-text {
  font-size: 1rem;
  line-height: 1.625;
  color: black;
}

.title-text-small {
  /* font-size: 18px; */
  font-size: 2rem;
  line-height: 1.666666666666667;
}

.simple-button {
  cursor: pointer;
  border-radius: 6px;
  border: solid #195a00;
  width: 222px;
  height: 58px;
  border-width: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.green-button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: #3a9691;
  color: white;
  font-size: 14px;
  text-align: center;
}

.green-button:hover {
  font-weight: bold;
}

.cards--list {
  display: flex;
  max-width: 120vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5%;
  gap: 40px;
  overflow-x: auto;
}
