@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
  box-sizing: border-box;
  font-family: pretendard;
}
body {
  margin: 0;
  height: 0;
  padding: 0;
  /* overflow: hidden; */
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}
