main {
  margin-top: 0;
  padding: 0;
  background-image: url(src/assets/HeaderImage.png);
  background-repeat: no-repeat;
  background-size: 60vw 100vh;
  background-position: top right;
  height: 900px;
  align-items: center;
}

.home--stats {
  padding: 300px 90px;
}

.home--title {
  font-size: 3vw;
  max-width: 490px;
}

.cards--list {
  display: flex;
  max-width: 120vw;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5%;
  gap: 40px;
  overflow-x: auto;
}

@media (max-width: 400px) {
  .home--title {
    max-width: 1px;
  }
}
